<td><div class="">{{_id}}</div></td>
<td><div>{{dexId}}</div></td>
<td><div class="normal-view">{{name}}</div><div class="edit-view"><input type="text" placeholder="name" name="name" class="name"></div></td>
<td><div class="normal-view">{{type1}}</div><div class="edit-view"><input type="text" placeholder="type1" name="type1" class="type1"></div></td>
<td><div class="normal-view">{{generation}}</div><div class="edit-view"><input type="text" placeholder="generation" name="generation" class="generation"></div></td>
<td><div>{{__v}}</div></td>
<td><div class="normal-view"><button class="uk-button uk-button-warning edit-button">Edit</button><button class="uk-button uk-button-danger delete-button">Delete</button></div><div class="edit-view"><button class="uk-button uk-button-primary save-button">Save</button><button class="uk-button uk-button-danger cancel-button">Cancel</button></div></td>
	